<div class="hero mt-8">
    <div class="hero-content text-center flex-col gap-8">
        <app-task-title></app-task-title>
        <div class="max-w-md">

            <div class="flex gap-4 justify-center">
                <input type="text" placeholder="Type here" class="input input-bordered input-info w-full max-w-xs"
                    #newTask />
                <button (click)="add(newTask)" class="btn btn-neutral">Add</button>
            </div>
            <div class="overflow-x-auto mt-8">
                <table class="table table-zebra">
                    <thead></thead>
                    <tbody *ngFor="let task of tasks; let i=index">
                        <!-- row 1 -->
                        <tr class="flex justify-between gap-4">
                            <th>{{i+1}}</th>
                            <td [class.mark-as-done]="task.markAsDone">{{task.title}}</td>
                            <div class="flex justify-center gap-2">
                                <button (click)="remove(task.title)" class="btn btn-error">x</button>
                                <button (click)="task.toggleMarkAsDone()" class="btn"
                                    [class.btn-success]="!task.markAsDone" [class.btn-warning]="task.markAsDone">
                                    {{task.markAsDone?"Undo":"Done"}}
                                </button>
                            </div>
                        </tr>

                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>